# Caches, build artifacts
.DS_Store
.cache/
*.egg*
.gradle/
.idea/
*.py[cod]
.pypirc
.tox/
.*version
.venv*/
__pycache__/
build/
build_wsl/
build_*/
dist/
vmaf_output.xml
compile_commands.json

*.rar
